<div class="ui menu">
    <a class="item" [routerLink]="['/home']">
        <i class="arrow left icon"></i> HOME
    </a>
</div>
<div class="ui container">

    <div class="ui segments">
        <div class="ui segment">
          <h1>{{detail.name}}</h1>
        </div>
        <div class="ui segment">
          <p><strong>height:</strong> {{detail.height}}</p>
          <p><strong>weight:</strong>  {{detail.weight}}</p>
        </div>
        <div class="ui segment">
          <p>Middle</p>
        </div>
        <div class="ui segment">
          <p>Middle</p>
        </div>
        <div class="ui segment">
          <p>Bottom</p>
        </div>
      </div>

</div>