<div class="ui container">

    <div class="uigrid">
        <div class=" row">
            <div class="column">
                <div class="ui fluid massive icon input">
                    <input class="prompt" [(ngModel)]="searchText" (input)="searchMonster()" type="text"
                        placeholder="Search monster's name.">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <div class=" row">
            <div class="column">
                <div *ngIf="pokemon.length <= 100">
                    <div class="ui five stackable cards">
                        <div class="ui card" *ngFor="let i of pokemon" (click)="gotoDetail(i.url)" >
                            <div class="image">
                                <img src="assets/image.png">
                            </div>
                            <div class="content">
                                <a class="header">{{i.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="pokemon.length > 100">
                    <h2 class="ui icon center aligned header">
                        <div class="content">
                            found {{pokemon.length}} Monster
                          <div class="sub header">Less than 100 for display</div>
                        </div>
                      </h2>
                </div>
            </div>
        </div>
    </div>




</div>